/*全局css*/
html,body{
	height: 100vh;
	position: relative;/*使子元素自动填充剩余高度*/
}
.mainboard{
	position: absolute;
	top: 57px;
	bottom: 0px;/*使其自动填充父元素剩余高度*/
}
.maincontent{
	height: 100%;
}
.copyright{
	position: absolute;
	bottom: 0px;
}
.showmvimg{
	max-width: 120px;
}
#function_area{
	position: sticky;
	top: 0px;
}
#collapsechanelchoose{
	position: sticky;
	top: 80px;
}