  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-secondary headbar">
    <a class="navbar-brand text-light"><span class="fa fa-scissors mr-1"></span>FastCilp</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarid" aria-controls="navbarid" aria-expanded="false" aria-label="Toggle-navogation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarid">
      <form class="form-inline mr-2 ml-auto">
        <input type="search" class="form-control mr-sm-2" placeholder="Search..." aria-label="Search">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
      <ul class="navbar-nav ml-2 mr-0">
        <li class="nav-item active">
          <a class="nav-link" href="">退出</a>
        </li>
      </ul>
    </div>
  </nav>