        <div class="sidebar-sticky">
          <ul class="nav flex-column pb-5 mb-5">
            <li class="nav-item my-2"></li>
            <li class="nav-item dropdown">
              <a class="nav-link active text-light" href="/index_page"><span class="fa fa-home mr-1" aria-hidden="false"></span>首页</a>
            </li>
            <li class="nav-item">
              <a href="/guide" class="nav-link text-light"><span class="fa fa-flag mr-1"></span>使用指南</a>
            </li>
            <li class="nav-item">
              <a href="/question" class="nav-link text-light"><span class="fa fa-question-circle mr-1"></span>常见问题</a>
            </li>

            <li class="nav-item"><hr></li>
            <li class="nav-item">
              <a href="/index"  class="nav-link text-light"><span class="fa fa-arrow-circle-o-up mr-1" ></span>上传</a>
            </li>
            <li class="nav-item">
              <a href="/todo" class="nav-link text-light"><span class="fa fa-folder mr-1"></span>未合成</a>
            </li>
            <li class="nav-item">
              <a href="/doing" class="nav-link text-light"><span class="fa fa-list-alt mr-1"></span>合成中</a>
            </li>
            <li class="nav-item">
              <a href="/done" class="nav-link text-light"><span class="fa fa-hourglass-end mr-1"></span>已合成</a>
            </li>
            <li class="nav-item"><hr></li>
            <li class="nav-item">
              <a href="/aboutus" class="nav-link text-light"><span class="fa fa-info-circle mr-1"></span>关于快剪</a>
            </li>
            <li class="nav-item">
              <a href="/contactus" class="nav-link text-light"><span class="fa fa-phone mr-1"></span> 联系我们</a>
            </li>
          </ul>
          <div class="copyright mx-4" style="width: 151px;display: block;">
            <p class="text-light">Copyright&copy;2019快剪<br>All rights reserved.</p>
          </div>
        </div>